<app-searchbar></app-searchbar><!-- Only if logged in! -->

<h1>Welcome to Happy Pets!</h1>

<h3>The first social media to share everything about your pets.</h3>

<p>This is a simple application that allows you to create a profile for your pet, find friends, and chat with them.</p>
<br/>
<p><strong>Features:</strong></p>
<ul>
    <li>Sign up and log in</li>
    <li>Create a profile for your pets</li>
    <li>Find friends</li>
    <li>Chat with your friends</li>
    <li>Create walks in your neighborhood</li>
    <li>Share memorable moments (coming later)</li>
</ul>

<p><strong>This is gonna be the newsfeed later.</strong></p>
<p>This needs to be upgraded with updates of status (simple text), pictures and videos sharing...?</p>