# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3

# Environment variables
.env

# IDE/editor folders
.vscode/
.idea/
