<nav class="navbar">
    <div class="navleft">
        <!-- If logged in:     -->
        <div class="loggedin">
            <ul >
                <li><a routerLink="/meet" routerLinkActive="active" ariaCurrentWhenActive="page">Meet</a></li>
                <li><a routerLink="/mypets" routerLinkActive="active" ariaCurrentWhenActive="page">My pets</a></li>
                <li><a routerLink="/myfriends" routerLinkActive="active" ariaCurrentWhenActive="page">My friends</a></li>
            </ul>

            <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">My profile</a>
            <a routerLink="/messages" routerLinkActive="active" ariaCurrentWhenActive="page">Messages</a>
            <a routerLink="/notifications" routerLinkActive="active" ariaCurrentWhenActive="page">Notifications</a>
        </div>
        <!-- If logged out:     -->
        <div class="loggedout">
            <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up</a>
        </div>
    </div>

    <!-- Always visible (logo?):     -->
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    
    <div class="navright">
        <!-- If logged out:     -->
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="loggedin">Log in</a>
        <!-- If logged in:     -->
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="loggedout">Log out</a> 
    </div>
</nav>