@use './_styles/variables'
@use './_styles/mixins'
@use './_styles/global'

.font-brand
  font-family: variables.$font-brand

.font-heading
  font-family: variables.$font-heading

.font-cta
  font-family: variables.$font-cta

.text-brand
  font-family: variables.$font-brand

.text-heading
  font-family: variables.$font-heading
  font-size: variables.$font-lg
  font-weight: bold

.text-cta
  font-family: variables.$font-cta
  font-size: variables.$font-md
  text-transform: uppercase
  letter-spacing: 1px

.text-body
  font-family: variables.$font-body
  font-size: variables.$font-sm
